/* Extra Css */
@media (min-width: 2900px) and (max-width: 5000px) {
    .homeSlider span.heading {
        top: -15px;
    }

    .homeSlider.swiper {
        padding: 50px 0px;
        height: 460px;
    }

    .homeSlider .swiper-slide {
        height: 300px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        top: 125px;
    }
}

@media (min-width : 1300px) and (max-width : 1500px) {
    .gradienttext h1 {
        font-size: 9rem !important;
    }
}
/* ====== laptopX ====== */
@media(min-width: 1025px) and (max-width: 1199px) {
    footer .quick-links a {
        padding: 0px 35px;
    }

    footer .service-boxes {
        gap: 90px;
    }
}

@media (min-width: 902px) and (max-width: 1439px) {

    .navbar-brand img {
        width: 100px;
    }

    .navbar-nav {
        padding: 10px 30px;
        font-size: 0.90rem;
        gap: 3px;
    }

    .nav-btn {
        padding: 18px 30px;
        font-size: 0.90rem;
    }

    .navbar-expand-lg {
        padding: 0px 20px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg {
        padding: 0px 10px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .rigthBtn {
        display: none;
    }

    .navbar-nav {
        background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
        padding: 10px 20px;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        top: 20px;
        gap: 0;
        box-shadow: none;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: rgb(81 174 229);
    }

    .nav-link {
        color: #ffffff;
    }

    .navbar-toggler {
        border: none;
        background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
        border-radius: 10rem;
        width: 40px;
        height: 40px;
        padding: 0;
        box-shadow: 1px 1px 20px -7px #0099ff;
    }

    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 2px 2px 50px #09619c;
    }
}

/* ====== Laptop ====== */
@media(min-width: 769px) and (max-width: 1024px) {
    .footer-top {
        padding: 30px 0 !important;
    }

    .footer-top p {
        font-size: 0.60rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 100%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 0px 20px !important;
        font-size: 18px;
    }

    footer .bottom-info {
        gap: 25px;
        font-size: 12px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 40px;
        width: 40px;
    }

    footer .service-boxes {
        gap: 20px;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 14px;
    }

    footer .copyright {
        font-size: 0.90rem;
    }
}

/* ====== Tablet ====== */
@media(min-width: 576px) and (max-width: 768px) {
    .footer-top {
        padding: 10px 0 !important;
    }

    .footer-top p {
        font-size: 0.50rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 100%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 5px 19px !important;
        font-size: 20px;
        margin-bottom: 20px;
    }

    footer .quick-links {
        padding: 20px 0;
    }

    footer .bottom-info {
        gap: 9px;
        font-size: 21px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 30px !important;
        width: 30px !important;
    }

    footer .service-boxes {
        gap: 0;
        padding: 0;
        font-size: 1rem;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 13px;
    }

    footer .copyright {
        font-size: 0.80rem;
    }

    footer .service-boxes div {
        padding: 12px 15px;
    }
}

/* ====== Tablet ====== */
@media(max-width: 575px) {
    .footer-top {
        padding: 10px 0px 40px 0px !important;
        flex-direction: column;
        margin: 0;
    }

    footer .ft-p,
    footer .ft-logo,
    footer .ft-bbb-logo {
        width: 100%;
        text-align: center !important;
    }



    .footer-top p {
        font-size: 0.90rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 45% !important;
    }

    footer .ql-lines {
        width: 25%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 5px 19px !important;
        margin: 0 !important;
        font-size: 18px !important;
    }

    footer .quick-links {
        padding: 20px 0;
    }

    footer .bottom-info {
        gap: 9px;
        font-size: 21px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 25px !important;
        width: 25px !important;
        font-size: 13px !important;
    }

    footer .service-boxes {
        gap: 0;
        padding: 0;
        font-size: 0.98rem;
        line-height: 0.70rem;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 12px;
    }

    footer .copyright {
        font-size: 0.80rem;
    }

    footer .service-boxes div {
        padding: 12px 15px;
    }
}


