@media (min-width : 1300px) and (max-width : 1499px) {

    section.hero .hero-container {
        padding-left: 60px;
    }

    section.hero .content-container h1 {
        font-size: 3.8rem;
    }

    .homeSlider .swiper-slide {
        height: 190px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        top: 65px;
        right: 100px;
    }

    .homeSlider.swiper {
        width: 650px;
    }

    section.hero .hero-container .content-container {
        width: 600px !important;
    }

    /* .gradienttext */
    .gradienttext h1 {
        font-size: 9rem;
    }

    /* choose section */
    section.whyChoose .why-content h2 {
        margin-bottom: 20px !important;
    }

    section.whyChoose .why-content ul li {
        font-size: 1.2rem;
        padding-left: 45px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        background-size: 35px;
    }

    section.whyChoose .why-content {
        left: 5rem;
        top: 1rem;
    }

    .btn_grp.d-flex.align-items-center.mt-5 {
        margin-top: 25px !important;
    }
}

@media (min-width : 1500px) and (max-width : 1600px) {
    section.hero .hero-container {
        padding-left: 5vw;
    }

    section.hero .content-container h1 {
        font-size: 3.8rem;
    }

    .homeSlider .swiper-slide {
        height: 190px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        top: 65px;
        right: 100px;
    }

    .homeSlider.swiper {
        width: 650px;
    }

    section.hero .hero-container .content-container {
        width: 600px !important;
    }

    /* .gradienttext */
    .gradienttext h1 {
        font-size: 10rem;
    }

    /* choose section */
    section.whyChoose .why-content {
        left: 6.5em;
        top: 1rem;
    }

}


@media (min-width : 1601px) and (max-width : 1800px) {

    /* choose section */
    section.whyChoose .why-content {
        left: 12rem;
        top: 2rem;
    }
}


@media (min-width : 1850px) and (max-width : 2100px) {
    section.hero .hero-container {
        padding-left: 15vw;
    }
}

@media (min-width : 1850px) and (max-width : 2100px) {
    section.hero .hero-container {
        padding-left: 15vw;
    }

    section.whyChoose .why-content {
        left: 25rem;
        top: 5rem;
    }
}

@media (min-width : 2101px) and (max-width : 2400px) {
    section.hero .hero-container {
        padding-left: 20vw;
    }

    section.whyChoose .why-content {
        left: 35rem;
        top: 10rem;
    }
}

@media (min-width : 2401px) and (max-width : 2800px) {
    section.hero .hero-container {
        padding-left: 25vw;
    }

    section.whyChoose .why-content {
        left: 37rem;
        top: 12rem;
    }
}

@media (min-width : 2801px) and (max-width : 3200px) {
    section.hero .hero-container {
        padding-left: 28vw;
    }

    .homeSlider.swiper {
        width: 1000px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        right: 170px;
    }

    section.whyChoose .why-content {
        left: 50rem;
        top: 13rem;
    }
}

@media (min-width : 3201px) and (max-width : 4000px) {
    section.hero .hero-container {
        padding-left: 32vw;
    }

    .homeSlider.swiper {
        width: 1000px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        right: 170px;
    }

    section.whyChoose .why-content {
        left: 80rem;
        top: 30rem;
    }
}

@media (min-width : 4001px) and (max-width : 5000px) {
    section.hero .hero-container {
        padding-left: 33vw;
    }

    .homeSlider.swiper {
        width: 875px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        right: 170px;
    }

       section.whyChoose .why-content {
        left: 100rem;
        top: 50rem;
    }
}

@media (min-width : 5001px) and (max-width : 6000px) {
    section.hero .hero-container {
        padding-left: 39vw;
    }

    .homeSlider.swiper {
        width: 1300px;
    }

    .homeSlider .swiper-slide.swiper-slide-active:before {
        right: 230px;
    }

    /* why choose section */
    section.whyChoose .why-content {
        width: 600px;
        left: 40vw;
        top: 50rem;
    }
}