* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DM-Sans';
    src: url('./Fonts/DMSans-9ptRegular.woff2') format('woff2'),
        url('./Fonts/DMSans-9ptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('./Fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('./Fonts/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p,
a,
button,
div,
ul,
li,
span {
    font-family: 'DM-Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica';
}

.secondGrand {
    background: linear-gradient(45deg, rgba(11, 4, 73, 1), rgba(11, 4, 73, 0));
    -webkit-background-clip: text;
    color: transparent;
}


.amc-btn {
    background: linear-gradient(45deg, rgba(0, 43, 81, 1), rgba(12, 83, 139, 1));
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    font-size: 1.2rem;
    border-radius: 10rem;
}

.navbar .amc-navbar-container {
    position: absolute;
    top: 30px;
    z-index: 10;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-nav {
    background-color: #cae0fc;
    padding: 10px 60px;
    border-radius: 10rem;
    font-size: 1.2rem;
    gap: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(0 0 0 / 10%) 0px 8px 16px -8px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: rgb(81 174 229);
}

.nav-link {
    color: #3c3939;
}

.nav-btn {
    background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
    color: white;
    text-decoration: none;
    padding: 20px 35px;
    font-size: 1.2rem;
    border-radius: 10rem;
}

/* Hero Section */
section.hero {
    height: 100vh;
    position: relative;
    top: -20px;

    background-image: linear-gradient(186deg, rgba(255, 0, 0, 0), rgba(0, 96, 186, 1)), url(./images/home-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.hero .hero-container {
    height: 100%;
    color: white;
    padding-right: 0;
    padding-left: 200px;
}

section.hero .hero-container .content-container {
    width: 700px !important;
    color: white;
}

section.hero .content-container h1 {
    font-size: 4rem;
    line-height: 75px;
    font-weight: 600;
}

section.hero .content-container h5 {
    font-size: 1.50rem;
    line-height: 30px;
}

section.hero .content-container h3 {
    line-height: 55px;
    font-size: 1.90rem;
    font-weight: 800;
}

section.hero .content-container p {
    font-size: 0.95rem;
    line-height: 19px;
    color: white;
}

/* home slider */
.homeSlider.swiper {
    width: 800px;
    height: 370px;
    margin-right: 0;
}

.homeSlider .swiper-wrapper {
    align-items: center;
}

.homeSlider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 40px;
    overflow: hidden;
}

.homeSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeSlider .swiper-pagination-bullet {
    opacity: 1;
    background: #ffffff;
    width: 12px;
    height: 12px;
}

.homeSlider .swiper-pagination-bullet-active {
    background: #ffffff;
    width: 72px;
    height: 12px;
    border-radius: 10px !important;
}

.homeSlider span.heading {
    background: #ffffff;
    padding: 12px 40px;
    position: relative;
    top: 10%;
    border-radius: 10rem;
    font-size: 16px;
    color: #0b0449;
    font-weight: 700;
}

.homeSlider .swiper-pagination {
    text-align: left !important;
}

.homeSlider .swiper-slide.swiper-slide-active:before {
    top: 80px;
    content: url('./images/home slider.png');
    right: 130px;
    z-index: 10;
    position: absolute;
}

.homeSlider .swiper-slide a {
    text-decoration: none;
    background: transparent;
    height: 100%;
    width: 100%;
}






/* why choose */
section.whyChoose .why-images {
    width: 50%;
}

section.whyChoose .why-content {
    width: 600px;
    position: relative;
    left: 25rem;
    top: 5rem;
    height: fit-content;
}

section.whyChoose .why-images img {
    width: 100%;
}

section.whyChoose .why-content h2 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(128deg, rgba(11, 4, 73, 1) 50%, rgba(11, 4, 73, 0));
    -webkit-background-clip: text;
}

section.whyChoose .why-content .amc-btn {
    background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
}

section.whyChoose .why-content ul {
    line-height: 44px;
    margin: 0 !important;
    padding: 0 !important;
}

section.whyChoose .why-content ul li {
    font-size: 1.8rem;
    background: url(./images/tick.png);
    padding-left: 50px;
    background-repeat: no-repeat;
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 25px;
    color: #454545;
}


/* services Slider */
.services-slider {
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border-radius: 4rem;
    transform: translateY(-90px);
    margin-bottom: -120px;
    margin-left: 85px;
    margin-right: 85px;
}

.services-slider h1 {
    font-size: 3rem;
    width: 60%;
    background: linear-gradient(132deg, rgba(11, 4, 73, 1) 60%, rgba(11, 4, 73, 0));
    font-weight: 600;
    -webkit-background-clip: text;
}

.services-slider h4 {
    color: #0099ff;
    font-weight: 600;
}

.services-slider .swiper-wrapper {
    justify-content: center;
}

.services-slider .swiper-slide {
    flex-shrink: 0;
    height: auto !important;
}

.services-slider .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    text-align: center;
    transition: all 0.4s ease;
    opacity: 0.8;
    transform: scale(0.8);
    height: 100%;
    background: transparent;
}

.services-slider .swiper-slide .card img {
    width: 260px;
    height: 360px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.services-slider .swiper-slide-active .card {
    opacity: 1;
    transform: scale(1);
}

.services-slider .swiper-slide-active .card img {
    width: 620px;
    height: 700px;
}

.services-slider .swiper-slide h3 {
    background: linear-gradient(132deg, rgba(11, 4, 73, 1) 60%, rgba(11, 4, 73, 0));
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 20px;
    font-size: 1.90rem;
}

.services-slider .swiper-slide-active h3 {
    font-size: 2.5rem;
    margin-top: 40px;
    background: linear-gradient(132deg, rgba(11, 4, 73, 1) 60%, rgba(11, 4, 73, 0));
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
}

.services-slider .center-btn {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.services-slider .swiper-slide-active .center-btn {
    opacity: 1;
    pointer-events: auto;
}

.services-slider .arrow {
    position: absolute;
    bottom: 110px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.services-slider .arrow:hover {
    background: #019be1;
    color: white;
    border-color: #019be1;
}

.services-slider .arrow:hover * {
    stroke: white;
}

.services-slider .prev {
    left: 170px;
}

.services-slider .next {
    right: 200px;
}



/* gradient text  */
.gradienttext h1 {
    background: linear-gradient(to bottom, #0b0449 -150%, #fff0 80%) !important;
    -webkit-background-clip: text !important;
    color: transparent;
    font-size: 12rem;
    font-weight: 700;
    text-transform: uppercase;
}


/* showcase */
section.showcase {
    background: radial-gradient(circle at center, rgba(1, 155, 225, 1) -80%, rgba(11, 4, 73, 1) 100%);
    border-radius: 2rem;
    padding-top: 85px;
}

section.showcase .content h3 {
    font-size: 2rem;
    color: #019BE1;
}

section.showcase .content h2 {
    font-size: 4rem;
}


/* journey */
section.journey {
    background-image: url(./images/journyBack.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2100px;
    margin-top: 200px !important;
}

.journey h2 {
    font-size: 6rem;
    background: linear-gradient(90deg, rgba(11, 4, 73, 1) 40%, rgba(11, 4, 73, 0) 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}

.journey .contentOne {
    width: 30%;
    position: relative;
    bottom: 4rem;
}

.journey .contentOne p {
    font-size: 1.75rem;
    line-height: 40px;
    font-weight: 600;
}

.journey .contentOne .amc-btn {
    background: linear-gradient(45deg, #0295da, rgba(12, 83, 139, 1));
}

.journey .journeyImage {
    width: 40%;
    overflow: hidden;
    border-radius: 2rem;
}

.journey .contentTwo {
    width: 30%;
    position: relative;
    top: 6rem;
}



















footer {
    color: white;
    background: linear-gradient(141deg, rgba(11, 4, 73, 1) 80%, rgba(1, 155, 225, 1) 120%);
}

footer .ft-p p {
    font-size: 16px;
}

footer .ft-p {
    width: 30%;
    font-size: 0.84rem;
    color: white;
}

footer .ft-logo {
    width: 30%;
}

footer .ft-logo img {
    width: 40%;
}

footer .ft-bbb-logo {
    width: 30%;
}

.ft-bbb-logo img {
    width: 80%;
}

footer .quick-links {
    padding: 70px 0;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

footer .ql-h1 h2 {
    font-size: 1.5rem;
}

footer .ql-lines {
    width: 42%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.158);
}

footer .quick-links a {
    padding: 0px 48px;
    border-right: 1px solid #ffffff33;
    text-decoration: none;
    color: white;
}

footer .quick-links a.last {
    border-right: none;
}

footer .service-boxes {
    gap: 110px;
    background-color: #1A1070;
    padding: 25px;
    width: auto;
}

footer .service-boxes div {
    padding: 12px 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer .service-boxes div:hover {
    background: rgba(255, 255, 255, 0.15);
}

footer .bottom-info {
    border-bottom: 2px solid #ffffff33;
    gap: 40px;
    font-size: 14px;

}


.adress h2,
footer .contect-num h2 {
    font-size: 18px;
    font-weight: 400;
}


footer .copyright {
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.8;
}




footer .ftcard {
    background: linear-gradient(to right, #0295DA, #0C538B);
}



footer .ft-img-box img {
    transform: translateY(-82px);
}


/* social-icons  */
.f-icons ul {
    display: flex;
}

.f-icons ul li {
    list-style: none;
    margin: 0 5px;
    height: 50px;
    width: 50px;
    color: rgba(2, 149, 218, 1);
    border: 2px solid rgba(2, 149, 218, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all ease 0.3s;
}

.f-icons ul li:hover {
    color: #2c698d;
    background: #bae8e8;
    cursor: pointer;
}

/* ====== laptopX ====== */
@media(min-width: 1025px) and (max-width: 1199px) {
    footer .quick-links a {
        padding: 0px 35px;
    }

    footer .service-boxes {
        gap: 90px;
    }
}

/* ====== Laptop ====== */
@media(min-width: 769px) and (max-width: 1024px) {
    .footer-top {
        padding: 30px 0 !important;
    }

    .footer-top p {
        font-size: 0.60rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 100%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 0px 20px !important;
        font-size: 18px;
    }

    footer .bottom-info {
        gap: 25px;
        font-size: 12px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 40px;
        width: 40px;
    }

    footer .service-boxes {
        gap: 20px;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 14px;
    }

    footer .copyright {
        font-size: 0.90rem;
    }
}

/* ====== Tablet ====== */
@media(min-width: 576px) and (max-width: 768px) {
    .footer-top {
        padding: 10px 0 !important;
    }

    .footer-top p {
        font-size: 0.50rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 100%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 5px 19px !important;
        font-size: 20px;
        margin-bottom: 20px;
    }

    footer .quick-links {
        padding: 20px 0;
    }

    footer .bottom-info {
        gap: 9px;
        font-size: 21px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 30px !important;
        width: 30px !important;
    }

    footer .service-boxes {
        gap: 0;
        padding: 0;
        font-size: 1rem;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 13px;
    }

    footer .copyright {
        font-size: 0.80rem;
    }

    footer .service-boxes div {
        padding: 12px 15px;
    }
}

/* ====== Tablet ====== */
@media(max-width: 575px) {
    .footer-top {
        padding: 10px 0px 40px 0px !important;
        flex-direction: column;
        margin: 0;
    }

    footer .ft-p,
    footer .ft-logo,
    footer .ft-bbb-logo {
        width: 100%;
        text-align: center !important;
    }



    .footer-top p {
        font-size: 0.90rem;
    }

    footer .ft-logo img {
        width: 60%;
    }

    .ft-bbb-logo img {
        width: 45% !important;
    }

    footer .ql-lines {
        width: 25%;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    footer .ql-h1 h2 {
        font-size: 1rem;
    }

    .quick-links a {
        padding: 5px 19px !important;
        margin: 0 !important;
        font-size: 18px !important;
    }

    footer .quick-links {
        padding: 20px 0;
    }

    footer .bottom-info {
        gap: 9px;
        font-size: 21px;
        padding-bottom: 10px !important;
    }

    .f-icons ul li {
        height: 25px !important;
        width: 25px !important;
        font-size: 13px !important;
    }

    footer .service-boxes {
        gap: 0;
        padding: 0;
        font-size: 0.98rem;
        line-height: 0.70rem;
    }

    .adress h2,
    footer .contect-num h2 {
        font-size: 12px;
    }

    footer .copyright {
        font-size: 0.80rem;
    }

    footer .service-boxes div {
        padding: 12px 15px;
    }
}


@media (min-width: 902px) and (max-width: 1439px) {

    .navbar-brand img {
        width: 100px;
    }

    .navbar-nav {
        padding: 10px 30px;
        font-size: 0.90rem;
        gap: 3px;
    }

    .nav-btn {
        padding: 18px 30px;
        font-size: 0.90rem;
    }

    .navbar-expand-lg {
        padding: 0px 20px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg {
        padding: 0px 10px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .rigthBtn {
        display: none;
    }

    .navbar-nav {
        background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
        padding: 10px 20px;
        border-radius: 1rem;
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        top: 20px;
        gap: 0;
        box-shadow: none;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: rgb(81 174 229);
    }

    .nav-link {
        color: #ffffff;
    }

    .navbar-toggler {
        border: none;
        background: linear-gradient(45deg, rgba(2, 149, 218, 1), rgba(12, 83, 139, 1));
        border-radius: 10rem;
        width: 40px;
        height: 40px;
        padding: 0;
        box-shadow: 1px 1px 20px -7px #0099ff;
    }

    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 2px 2px 50px #09619c;
    }
}